* {
    font-family: sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
}

quote {
    font-weight: bold;
    color: ghostwhite;
    background: grey;
    padding: 5px 10px;
    margin-bottom: 15px;
}

ul {
    display: flex;
    flex-flow: column;
}

li>a {
    font-weight: bold;
}

.failure-container>.additional-info {
    margin-bottom: 10px;
    border: 1px solid black;
    max-width: 800px;
}

.failure-container.negative>.additional-info {
    border-color: red;
}

.error-text {
    font-size: 12pt;
    display: flex;
    flex-flow: column;
}
.error-text > span {
    margin-left: 5px;
}